page-new-instrument {
  ion-slide.swiper-slide {
      left: 0%;
  }
  
  .slide-zoom {
      background: #e6e6e6;
  }

  .thumb-img {
      padding: 2px;
  }

  .slide-zoom {

  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 0px 0;
  }

  .image-container {
    width: 18em;
    height: 9em;
  }

  .image-container img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 2px 0 2px;
  }
}
